{% extends "base.html" %}
{% block title %}Prosti termini{% endblock %}

{% block content %}

<div class="admin-page">
    <a href="/" class="back-btn">&#8617;</a>

    <div class="table-box-center">
        <h1>SEZNAM PROSTIH TERMINOV</h1>
        <div class="form-line"></div>

        <div class="table-scroll">
            <table class="simple-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Frizer</th>
                        <th>Datum</th>
                        <th>Ura</th>
                    </tr>
                </thead>

                <tbody>
                    {% for u in urnik %}
                        <tr>
                            {% if u|length > 3 %}
                                <td>{{ u[0] }}</td>
                                <td>{{ u[1] }}</td>
                                <td>{{ u[2] }}</td>
                                <td>{{ u[3] }}</td>
                            {% else %}
                                <td>{{ loop.index }}</td>
                                <td>{{ u[0] }}</td>
                                <td>{{ u[1] }}</td>
                                <td>{{ u[2] }}</td>
                            {% endif %}
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">Ni prostih terminov.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}