{% extends "base.html" %}
{% block content %}
<h1>Nova Rezervacija</h1>
<form method="POST">
    <label>Izberi stranko:</label>
    <select name="stranka_id">
        {% for s in stranke %}
        <option value="{{ s[0] }}">{{ s[1] }} {{ s[2] }}</option>
        {% endfor %}
    </select><br>

    <label>Izberi frizerja:</label>
    <select name="frizer_id">
        {% for f in frizerji %}
        <option value="{{ f[0] }}">{{ f[2] }}</option>
        {% endfor %}
    </select><br>

    <label>Izberi salon:</label>
    <select name="salon_id">
        <option value="">-- Ni izbire --</option>
        {% for s in saloni %}
        <option value="{{ s[0] }}">{{ s[1] }}</option>
        {% endfor %}
    </select><br>

    <label>Izberi storitev:</label>
    <select name="storitev_id">
        <option value="">-- Ni izbire --</option>
        {% for st in storitve %}
        <option value="{{ st[0] }}">{{ st[1] }} ({{ st[2] }}€)</option>
        {% endfor %}
    </select><br>

    <br><input type="submit" value="Rezerviraj">
</form>
{% endblock %}
