{% extends "base.html" %}
{% block title %}Saloni{% endblock %}
{% block content %}
<h1>Upravljanje salonov</h1>

<h2>Dodaj salon</h2>
<form method="POST">
    Ime salona: <input type="text" name="ime" required><br>
    Naslov: <input type="text" name="naslov"><br>
    Mesto: <input type="text" name="mesto"><br>
    Telefon: <input type="text" name="telefon"><br>
    <br><input type="submit" value="Dodaj salon">
</form>

<hr>

<h2>Seznam salonov</h2>
<table border="1" style="width:100%; border-collapse: collapse;">
    <tr><th>ID</th><th>Ime</th><th>Naslov</th><th>Mesto</th><th>Telefon</th></tr>
    {% for s in saloni %}
    <tr><td>{{ s[0] }}</td><td>{{ s[1] }}</td><td>{{ s[2] }}</td><td>{{ s[3] }}</td><td>{{ s[4] }}</td></tr>
    {% else %}
    <tr><td colspan="5">Ni vpisanih salonov.</td></tr>
    {% endfor %}
</table>
{% endblock %}
