{% extends "base.html" %}
{% block content %}

<h2>Kontakti mojih strank</h2>

{% if stranke %}

<table border="1" cellpadding="6">

    <tr>
        <th>Ime</th>
        <th>Priimek</th>
        <th>Email</th>
        <th>Telefon</th>
    </tr>

    {% for s in stranke %}
    <tr>
        <td>{{ s.ime }}</td>
        <td>{{ s.priimek }}</td>
        <td>{{ s.mail }}</td>
        <td>{{ s.telefon }}</td>
    </tr>
    {% endfor %}

</table>

{% else %}

<p>Nobena stranka nima rezervacije pri vas.</p>

{% endif %}

{% endblock %}