{% extends "base.html" %}
{% block title %}Storitve{% endblock %}
{% block content %}
<h1>Upravljanje storitev</h1>

<h2>Dodaj storitev</h2>
<form method="POST">
    Ime storitve: <input type="text" name="ime_storitve" required><br>
    Cena (€): <input type="number" step="0.01" name="cena"><br>
    Trajanje (HH:MM:SS): <input type="text" name="trajanje" placeholder="00:30:00"><br>
    <br><input type="submit" value="Dodaj storitev">
</form>

<hr>

<h2>Seznam storitev</h2>
<table border="1" style="width:100%; border-collapse: collapse;">
    <tr><th>ID</th><th>Ime storitve</th><th>Cena (€)</th><th>Trajanje</th></tr>
    {% for st in storitve %}
    <tr><td>{{ st[0] }}</td><td>{{ st[1] }}</td><td>{{ st[2] }}</td><td>{{ st[3] }}</td></tr>
    {% else %}
    <tr><td colspan="4">Ni vpisanih storitev.</td></tr>
    {% endfor %}
</table>
{% endblock %}
