{% extends "base.html" %}
{% block title %}Seznam strank{% endblock %}

{% block content %}

<div class="main-wrap">
    <div class="panel">
        <a href="/" class="back-btn">&#8617;</a>
        <h1>STRANKE</h1>
        <div class="line"></div>
        <form method="POST" action="/stranke">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="form-row">
                <label>Stranka</label>
                <select name="stranka_id" required>
                    <option value="" disabled selected>-izberi stranko-</option>
                    {% for s in stranke %}
                        <option value="{{ s[0] }}">{{ s[1] }} {{ s[2] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="line"></div>
            <label class="check-row"><input type="checkbox" required> Potrdi</label>
        </form>
    </div>
</div>
{% endblock %}