{% extends "base.html" %}
{% block title %}Uredi storitev{% endblock %}

{% block content %}

<div class="vsebina">

    <div class="form-panel">

        <div class="form-header">
            Uredi storitev
        </div>

        <div class="form-body">

            <form method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                <div class="polje">
                    <label>Naziv storitve</label>

                    <input
                        type="text"
                        name="naziv"
                        required
                        value="{{ storitev.naziv or '' }}"
                    >
                </div>

                <div class="polje">
                    <label>Cena (€)</label>

                    <input
                        type="number"
                        step="0.01"
                        name="cena"
                        value="{{ storitev.cena or '' }}"
                    >
                </div>

                <div class="polje">
                    <label>Trajanje</label>

                    <input
                        type="time"
                        name="trajanje"
                        value="{{ storitev.trajanje or '' }}"
                    >
                </div>

                <div class="polje">
                    <label>Opis</label>

                    <textarea
                        name="opis"
                        rows="4"
                    >{{ storitev.opis or '' }}</textarea>
                </div>

                <div class="gumbi">

                    <button type="submit" class="shrani-btn">
                        Shrani
                    </button>

                    <a href="/storitve" class="preklici-btn">
                        Prekliči
                    </a>

                </div>

            </form>

        </div>

    </div>

</div>

{% endblock %}