<nav class="navbar">
    <a href="/" class="active">Domov</a>
    <a href="/saloni">Saloni</a>
    <a href="/cenik">Storitve</a>

    <div class="dropdown">
        <a href="/rezervacije">Rezervacije</a>
        <div class="dropdown-content">
            <a href="/rezervacije">Nova rezervacija</a>
            <a href="/vse_rezervacije">Vse rezervacije</a>
            <a href="/zgodovina">Zgodovina</a>
        </div>
    </div>

    <a href="/frizerji">Frizerji</a>

    <div class="dropdown">
        <a href="/prosti_termini">Termini</a>
        <div class="dropdown-content">
            <a href="/prosti_termini">Prosti termini</a>
            <a href="/blokade">Blokirani termini</a>
        </div>
    </div>
</nav>